.account-section {

    display: flex;
    flex-direction: column;
    gap: 8px;

    select {

        width: 100%;
        height: 46px;

        padding: 0 14px;

        border: 1px solid var(--border);

        border-radius: var(--radius-md);

        background: var(--surface);

        color: var(--text-primary);

        font-size: var(--font-small);

        transition: .2s;

        &:focus {

            outline: none;

            border-color: var(--primary);

        }

        &:disabled {

            cursor: default;

            opacity: .75;

        }

    }

}