.dashboard-layout {
    display: grid;

    grid-template-rows: 72px 1fr;

    min-height: 100dvh;
    width: 100%;

    .body {

        max-width: 1600px;
        width: 100%;
        justify-self: center;
        ;

        display: grid;
        grid-template-columns: 280px 1fr;

    }

}